extends layout

block content
  div.loading
    div.load_anime
      div.load_txt
      div.auth
      div.load_val
  


  div.global
    div.title
    div.golden-wrap
      div.golden
    div.god-wrap
      div.god

    div.money
    div.mask

    div.bonus