doctype html
html
  head
    meta(name="viewport",content="width=320,initial-scale=1.0, user-scalable=no, target-densitydpi=device-dpi")
    title= "测测你的年终奖拿多少"
    link(rel='stylesheet', href='/css/style.css')
  body
    block content

  script(src="js/zepto.js")
  script(src="js/loader.js")
  script(src="js/hashchange.js")
  script(src="js/share.js")
  script(src="/js/app.js")