@charset "utf-8";
body,div,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,iframe,input,textarea,select,label,article,aside,footer,header,menu,nav,section,time,audio,video {
  margin:0;
  padding:0;
}
article,aside,footer,header,hgroup,nav,section,audio,canvas,video,img {
    display: block;
}
body,html{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  margin:0; padding: 0;
}
body {

  background: red;
    font-size: 100%; 
    font-family:Helvetica,STHeiti,Droid Sans Fallback;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-box-sizing: border-box;
    -webkit-user-select: none;
    -webkit-backface-visibility: hidden;
}
textarea {
    resize: none;
}
html{
    font-size: 65%;
}
iframe,img {
    border:0;
}
ul,ol {
    list-style:none;
}
input,
select,
textarea {
    outline: 0;
    -webkit-user-modify: read-write-plaintext-only;
}
input {
    -webkit-appearance: none;
}
a{
    text-decoration: none;
}
.swipe_anime{
  bottom:5%;
}
/*layout*/
.global{
    overflow: hidden;
    position: relative;
    width: 100%; height: 100%;
    z-index: 1;
    background:url(../images/bg.jpg) no-repeat;
    background-size:cover;
}
.layer{
    position: relative;
    width: 100%; height: 100%;
    overflow: hidden;
    
}

.loading{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  z-index: 13;
}

.title{
  position: relative;
  top:30px;
  width: 100%;
  margin:0 auto;
  height:80px;
  z-index: 3;
  opacity: 0;
  background: url('../images/title.png') no-repeat;
  -webkit-transform:translate3d(0,-100px,0);
  background-size: 100% 80px;
  
}
.title-show{
  -webkit-animation: fadeInDown 1s forwards;
  animation: fadeInDown 1s forwards;
}


.golden{
  position: absolute;
  bottom:0;
  width: 100%;
  height:226px;
  background: url('../images/golden.png') no-repeat;
  background-size: 100% 226px;
  
}
.golden-show{
  -webkit-animation: golden 1s linear;
  animation: golden 1s linear;
}
/*财神*/
.god-wrap{
  
}
.god{
  position: absolute;
  bottom:20%;
  width: 100%;
  height: 293px;
  z-index: 2;
  opacity: 0;
  background: url('../images/god.png') no-repeat;
  background-size: 100% 293px;
  -webkit-transition-origin:center center;
}
.god-shake{
  -webkit-animation: lightShake 2s infinite 0.8s ease-in-out;
  animation: lightShake 2s infinite 0.8s ease-in-out;
}

.money{
  position: relative;
  width: 199px;
  margin: 0 auto;
  height: 162px;
  z-index: 11;
  opacity: 1;
  top:20%;
  opacity: 0;
  background: url('../images/money1.png') no-repeat left center;
  background-size: contain;
}
.mask{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  display: none;
  background:url(../images/bg.jpg) no-repeat;
  background-size:cover;
  z-index: 10;
}
.money-open{
  -webkit-animation: open 1s ease-in-out;
}
@-webkit-keyframes open {
  0%{
    opacity: 0;
    background-image: url('../images/money1.png');
  }
  20%{
    opacity: 1;
    background-image: url('../images/money2.png');
    -webkit-transform:scale(1.3);
  }
  60%,80%{
    opacity: 1;
    background-image: url('../images/money3.png');
    -webkit-transform:scale(10);
  }
  100%{
    opacity: 1;
    background-image: url('../images/money3.png');
    -webkit-transform:scale(10);
  }
}
.bonus{
  width: 100%;
  position: absolute;
  height: 100%;
  top:0;
  z-index: 11;
  margin: 0 auto;
  text-align: center;
}
.bonus img{
  position: relative;
  width: 100%;
  top:50px;
  height: 220px;


}
.try-more{
  width: 100%;
  font-size: 18px;
  height: 40px;
  position: fixed;
  bottom: 0;
  background:#fff;
  color:#f19620;
  text-align: center;
  line-height: 40px;
  z-index: 12;
}

/*加载100%后,进度百分比消失的动画*/
.load_val_hide {
    -webkit-animation: 0.5s fadeOut forwards;
    animation:0.5s fadeOut forwards;
}

/*animation*/
/*渐隐*/
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes lightShake {
    0% {
        -webkit-transform: scale(0.85) ;
        opacity: 0;
    }
    10%,20% {
        -webkit-transform: scale(0.9) rotate(-3deg);
        opacity: 1;
    }
    30%,50%,70%,90% {
        -webkit-transform: scale(1.1) rotate(3deg);
        opacity: 1;
    }
    40%,60%,80% {
        -webkit-transform: scale(1.1) rotate(-3deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1) rotate(0);
        opacity: 1;
    }
}
@-webkit-keyframes golden {
    0% {
      bottom:100%;
      opacity: 0;  
    }
    10% {
      bottom:90%;
      opacity: 0.6;  
    }
    90%{
      bottom:10%;
      opacity: 1;
    }
    100% {
      bottom:0;
      opacity: 1;
    }
}

/*向下淡入*/
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}